VITE_API_URL=http://localhost:5000
VITE_DATA_MODE=api
VITE_CHAIN_MODE=live
VITE_ADMIN_WALLET_ADDRESS=GDW5NJOOGRWNRJQ6XWWIN4X5OQGWIHUI2ZJEMQUTOEUCXMEHARXH2NXI
VITE_STELLAR_NETWORK=testnet
VITE_MARKETPLACE_CONTRACT_ID=CDSGIW54X2RKDBO45MWALEVFTQSPSVBHVJHWKNXPH6I45X53O3VKSPTQ
VITE_LOAN_MANAGER_CONTRACT_ID=CAYTXKDN2234LNH2VMZJQ4WLE4QLMZRDA6GMAYB2MBRNIHNHPT4HSNGI
VITE_ORACLE_CONTRACT_ID=CAJ4XISOJBHJOCLYF5722T27ZF3UZ57P7DEZ4I462CRC7X5QYQPH63DC
VITE_VAULT_CONTRACT_ID=CD55UGC2V2W4GQCZUOJNGBCBMCDFM5W3OEKJAFUKJ36AEPWIPFKAYUKK
