VITE_API_URL=http://localhost:5000
VITE_DATA_MODE=api
VITE_CHAIN_MODE=mock # 'mock' or 'soroban'
VITE_STELLAR_NETWORK=testnet
VITE_MARKETPLACE_CONTRACT_ID=CCJU3F3JVRIFGVHHGP3DZTK2HX2WW2DHX665KKR3CR7O6GAFQHOM7X45
VITE_LOAN_MANAGER_CONTRACT_ID=CCFRNV7GOPQLCGEBUFGC6JOPPZAX5HKFQIIQBDQKPWWOVFHHNP4VWI3P
VITE_ORACLE_CONTRACT_ID=CC422QRYLZGQO4DL7E4JOW5XKBXFCFZOQWUMOK74VHO7SBYS6MJAPKX4
VITE_VAULT_CONTRACT_ID=CBKXH5LDMFZSNRUB6J7VW736BBZ5LRPYSWHDHRWVQ6P3CXSBGAMG43ZW
